#question
  = form_for Answer.new, url: answers_path, remote: true do |f|
    .form-inline
      .form-group
        = @question.question_text
        = hidden_field_tag :question_id, @question.id
        = hidden_field_tag :user_id, @user.id
        = hidden_field_tag :order, @order
      .form-group
        = f.select :friend_id, User.all.map{|u| [u.name, u.id]}
    = f.submit "Submit", class: 'btn btn-primary'
