- content_for :slide1 do
  #slide1.slide{"data-slide" => "1", "data-stellar-background-ratio" => "0"}
    #container
      %h1
        It 
        %span.pink remains
        %span.black between
        %span.cyan You
        %span.black1 and
        %span.yellow me :-)
      .clearfix
      = link_to image_tag('facebook-connect.png'), user_omniauth_authorize_path(:facebook)

- content_for :slide2 do
  #slide2.slide{"data-slide" => "2", "data-stellar-background-ratio" => "0.5"}
    #instruction
      .title
        How To Play
      .steps
        Step 1: Get yourself registered
        = image_tag 'facebook-connect.png'
      .steps
        Step 2: Answer questions about your friends
      .steps
        Step 3: Generate Results and get notified on email if your answers matches with your friend
    .big-steps
      Its That Simple!!

- content_for :slide3 do
  #slide3.slide{"data-slide" => "3", "data-stellar-background-ratio" => "0.5"}
    #privacy
      .title Privacy Policy
      .steps
        Your friends will never know about you're answer unless they also think the same! 
      .steps
        (Completely private & discreet until your answer match with your friends answers!)
    #who-we-are
      .title Who are we?
      .steps
        = link_to 'Pratik Shah', 'https://github.com/pratik14'
      .steps
        = link_to 'Siva Gollapali', 'http://sivagollapallidotnet.wordpress.com'
      .steps
        = link_to 'Kapil Tekwani', 'https://github.com/kapiltekwani'
      .steps
        = link_to 'Pramod Shinde', 'https://github.com/pramodshinde'


.envatologo
  = render 'shared/header'
= yield :slide1
= yield :slide2
= yield :slide3
