.well
  = simple_form_for answer,  :html => {:class => 'form answer-form form-inline' }, remote: true do |f|
    .form-inline
      = f.input :answered_by_id, as: :hidden
      .row
        = render "question", question: question, f: f
      %br
        = f.input :friend_ids, :collection => @friends.map{|u| [u.name, u.uid]}, input_html: {multiple: true, width:'800px;'}, :label => 'Friend Name'
      %br
        = f.submit "Submit", class: 'btn btn-primary'
        = link_to "Skip", answers_skip_path, class: 'btn btn-warning'
