= simple_form_for answer,  :html => {:class => 'form answer-form form-inline' }, remote: true do |f|
  .form-inline
    = f.input :question_id, as: :hidden
    = f.input :answered_by_id, as: :hidden
    .row
      .col-lg-3
        = image_tag 'babu-rao.jpg', size: '150x150' 
      .col-lg-9
        %h1
          = question.question_text
        %br
          = f.input :friend_ids, :collection => @friends.map{|u| [u.name, u.uid]}, input_html: {multiple: true, width:'800px;'}, :label => 'Friend Name'
        %br
        = f.submit "Submit", class: 'btn btn-primary'
        = link_to "Skip", answers_skip_path, class: 'btn btn-warning'
