= simple_form_for answer,  :html => {:class => 'form-horizontal' }, remote: true do |f|
  .form-inline
    = f.input :question_id, as: :hidden
    = f.input :answered_by_id, as: :hidden
    .span12.well
      .form-group.span8
        = question.question_text
      .form-group.span3.pull-right
        = f.input :friend_ids, :collection => @friends.map{|u| [u.name, u.id]}, input_html: {multiple: true}, :label => false
  = f.submit "Submit", class: 'btn btn-primary'
  = link_to "Skip", answers_skip_path, class: 'btn btn-warning'

:javascript
  $(document).ready(function(){
    $('#answer_friend_ids').select2({
      width: 'resolve'});
  });
