.well
  - flash[:info] = "We are still collecting some data from Facebook, please wait few seconds & refresh the page to play" if current_user.friend_ids.nil?
  = render 'messages'
  = simple_form_for answer,  :html => {:class => 'form answer-form form-inline' }, remote: true do |f|
    = f.input :answered_by_id, as: :hidden
    = f.input :question_id, as: :hidden
    .row
      = render "question", question: question, f: f
      %br
      - unless current_user.friend_ids.nil?
        = f.input :friend_ids, :collection => @friends.map{|u| [u.name, u.uid]}, input_html: {multiple: true}, :label => "Please enter your friend's name " ,wrapper_html: {class: 'col-lg-9'}
    .row
      = f.submit "Submit", class: 'btn btn-primary submit-btn'
      = link_to "Skip", answers_skip_path, class: 'btn btn-warning', style: "margin-top:15px"
