.main-container
  .container
    .row
      .col-md-9
        #logo-title 
          = image_tag 'app-logo.png'
          Between You and Me
      .col-md-3
        = render 'shared/header'
  .container
    .row
      .col-lg-6
        #answer
          = render 'form', answer: @answer, question: @question
      .col-lg-6
        .well
          %legend Matched Answer 
          = link_to "Update Match", new_answer_path
          - @matched_users.keys.each do |d|
            = d
            - @matched_users[d].each do |url|
              = image_tag "https://graph.facebook.com/#{url}/picture", size: '40x40'
            %legend
  .container
    - if @pie_chart_label.empty?
      #result.well
        %h3.control-label
          = image_tag 'sad-face.jpg', size: '50x50'
          No friends have answered about still!! 
    - else
      #result.well
        %h3.control-label 
          = image_tag 'happy-face.jpg', size: '50x50'
          What friends think of you 
        #pie_chart 
        :javascript
          var pie_chart =  #{@pie_chart.to_json}
          var pie_chart_label = #{@pie_chart_label.to_json}
  
