!!!
%html
  %head
    %title Fmatch
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .col-md-7
        .col-md-5
          = render 'shared/header'
      = yield
